<!DOCTYPE html>
<html>
<head>
    <title>Profit</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            font-family: Arial;
            background: #0f2027;
            color: white;
            text-align: center;
        }

        .box {
            margin-top: 100px;
        }

        .profit {
            font-size: 40px;
            color: #00ff99;
        }

        a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<body>

<div class="box">
    <h2>📊 Today's Profit</h2>
    <div class="profit">₹ {{profit}}</div>

    <br><br>
    <a href="/dashboard">⬅ Back</a>
</div>

</body>
</html>